  <div class='sp-main-header'>
    <div class='sp-main-header-logo'>
      <h1>zarat.ml</h1>
      <h4>Just another github blog</h4>
    </div>
  </div>
  
  <div class="nav-container">
    <label class="responsive_menu" for="responsive_menu">
      <span>Menu</span>
    </label>
    <input id="responsive_menu" type="checkbox">
    <ul class="menu level-0">
	    <li class="li level-1"><a href="{{ site.url }}/">Home</a></li>
	    <li class="li level-1"><a href="{{ site.url }}/about">About</a></li>
	    <li class="li level-1"><a href="{{ site.url }}/contact">Contact</a></li>
	    <li><a href="{{ site.url }}/feed.xml">RSS</a></li>
    </ul>
  </div>
