---
layout: page
---

<link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>

<div class="sp-content-item">

    <div class="sp-content-item-head">Kategorie: {{ page.category }}</div>

    <div class="sp-content-item-body">
      {{ content }}
    </div>
    
    <div class="sp-content-item-body">
        
<table id="example" class="display" style="width:100%">
    <thead><td>Titel</td><td>Datum</td></thead>
    <tbody>
{% for post in site.categories[page.category] %}
  <tr>
      <td><a href="{{ post.url }}">{{ post.title }}</a></td>
      <td>{{ post.date | date: "%Y %m %d" }}</td>
  </tr>
{% endfor %}
    </tbody>
    <tfoot><td>Titel</td><td>Datum</td></tfoot>
</table>   
        
 <script>
$(document).ready(function() {
$('#example').DataTable({
        "order": [[ 1, "desc" ]]
    });
});
</script>
        
    </div>

</div>
