---
layout: default
---
  
  <div class="sp-content-item">

    <div class="sp-content-item-head">{{ page.title }}</div>

    <div class="sp-content-item-head-secondary">
      abgelegt unter: {% for category in categories %}
      <a href="../category/{{ category | first }}">{{ category | first }}</a>,   
  {% endfor %} am {{ page.date | date: "%d" }} {{ page.date | date: "%B" }} {{ page.date | date: "%Y" }}
      
      {% for tag in tags %}
	{{ tag }} 
{% endfor %}

    </div>

    <div class="sp-content-item-body">
      {{ content }}
    </div>

  </div>
