---
layout: default
---
  
  <div class="sp-content-item">

    <div class="sp-content-item-head">{{ page.title }}</div>

    <div class="sp-content-item-head-secondary">
      {% for category in site.categories %}
      <a href="../category/{{ category | first }}">{{ category | first }}</a>,   
      {% endfor %} 
      
      am {{ page.date | date: "%d" }} {{ page.date | date: "%B" }} {{ page.date | date: "%Y" }}

      {% for tag in tags %}
      <a href="../tag/{{ tag | first }}">{{ tag | first }}</a>,   
      {% endfor %}
      
    </div>

    <div class="sp-content-item-body">
      {{ content }}
    </div>

  </div>
